@charset "UTF-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,td,th{text-align:left;font-weight:400;vertical-align:middle}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html{height:100%;font-size:62.5%}body{height:100%;font-size:1.4rem;font-family:"�⥴���å� Medium","Yu Gothic Medium","�⥴���å���","Yu Gothic",YuGothic,"MS PGothic",Osaka,arial,sans-serif;-webkit-font-smoothing:subpixel-antialiased}body a{color:#000;text-decoration:none;transition:all .4s ease;cursor:pointer}body a:hover{color:#fbb03b;text-decoration:none}.font-lato{font-family:Lato,sans-serif;letter-spacing:.04em}.font-minervamodern{font-family:minerva-modern,sans-serif;font-weight:400;font-style:normal}#page-wrapper{padding-top:90px}*{box-sizing:border-box;outline:0}.wrapper{margin:auto;max-width:1220px;width:100%;padding:0 20px}.common__head__sidelink.sidelink__left{display:none}.pc{display:block}.sp{display:none}button,input,select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:0 0;border:none;border-radius:0;font:inherit;outline:0}.header_banner{background-color:#fff}.header_banner a{display:block;width:100%;height:32px;line-height:32px;color:#000;font-size:10px;text-align:center;font-weight:900}.header_banner a .pc{display:inline-block}.header_banner a .sp{display:none}.btn_bk{background-color:#000;position:relative;color:#fff;font-size:12px;line-height:1;padding:24px 0 24px 120px;border-radius:30px;display:block;transition:all .35s cubic-bezier(.39,.03,.11,.92)}.btn_bk:before{content:"";height:1px;width:60px;position:absolute;left:40px;top:50%;transform:translateY(-50%);background-color:#fff;transition:all .6s cubic-bezier(.39,.03,.11,.92)}.btn_bk:hover{color:#000;background-color:#fbb03b;padding-left:140px;text-decoration:none}.btn_bk:hover:before{width:80px;background-color:#000}.btn_wh{background-color:#fff;position:relative;color:#000;font-size:12px;line-height:1;padding:24px 0 24px 120px;border-radius:30px;display:block;transition:all .35s cubic-bezier(.39,.03,.11,.92)}.btn_wh::before{content:"";height:1px;width:60px;position:absolute;left:40px;top:50%;transform:translateY(-50%);background-color:#000;transition:all .6s cubic-bezier(.39,.03,.11,.92)}.btn_wh:hover{color:#000;background-color:#fbb03b;padding-left:140px;text-decoration:none}.btn_wh:hover:before{width:80px}.common__head{padding:0 65px;position:relative}.common__head__kv{position:relative}.common__head__kv__wrap{overflow:hidden;border-radius:40px;position:relative}@media only screen and (min-width:429px){.common__head__kv__wrap{max-height:calc(100vh - 140px)}}.common__head__kv__img{background-size:cover;background-position:center}.common__head__kv__img iframe,.common__head__kv__img img,.common__head__kv__img video{width:100%}.common__head__kv__img.swiper-slide img{opacity:0}.common__head__kv__txt{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;z-index:2}.common__head__kv__txt__ttl{text-align:center;color:#fff;font-size:80px;margin-bottom:30px;text-transform:uppercase}.common__head__kv__txt__subttl{font-size:24px;font-weight:700;color:#fff;text-align:center}.common__head__kv__txt__imgttl{height:95px;margin:0 auto -20px;display:block}.common__head__kv__deco1{position:absolute;width:140px;bottom:-20px;right:-20px;z-index:1}.common__head__kv__logo{width:104px;position:absolute;z-index:1;bottom:-45px;right:45px}.common__head__kv__logo svg{width:100%}.common__head__sidelink{position:fixed;top:32vw;font-size:12px;text-transform:uppercase;z-index:100}.common__head__sidelink.sidelink__left{left:0;transform:translateY(-50%) rotate(-90deg)}.common__head__sidelink.sidelink__right{right:-25px;transform:translateY(-50%) rotate(90deg);transform-origin:bottom}.ttl_anim_h2{position:relative;overflow:hidden}.ttl_anim_h2 .ttl_anim_h2_span{transition:all .7s cubic-bezier(.33,.14,0,.81) .3s;opacity:0;position:relative;transform:scale(1.02) translateY(50px);display:inline-block}.ttl_anim_p{transition:all .7s cubic-bezier(.33,.14,0,.81) .5s;opacity:0;position:relative;transform:scale(1.02) translateY(50px)}.ttl_anim_p2{transition:all .7s cubic-bezier(.33,.14,0,.81) .8s;opacity:0;position:relative;transform:scale(1.02) translateY(50px)}.ttl_anim_h2ja{position:relative;overflow:hidden}.ttl_anim_h2ja .ttl_anim_h2_span{transition:all .7s cubic-bezier(.33,.14,0,.81);opacity:0;position:relative;transform:scale(1.02) translateY(50px);display:inline-block}.ttl_anim .ttl_anim_img{transition:all .8s cubic-bezier(.33,.14,0,.81) 1s;opacity:0;position:relative;transform:scale(1.02) translateY(50px);display:inline-block}.ttl_anim .swiper-slide{opacity:0;position:relative;transform:scale(1.02) translateY(80px);display:inline-block}.ttl_anim .swiper-slide:nth-child(1){transition:all .8s cubic-bezier(.33,.14,0,.81) .6s}.ttl_anim .swiper-slide:nth-child(2){transition:all .8s cubic-bezier(.33,.14,0,.81) .9s}.ttl_anim .swiper-slide:nth-child(3){transition:all .8s cubic-bezier(.33,.14,0,.81) 1.2s}.ttl_anim .swiper-slide:nth-child(4){transition:all .8s cubic-bezier(.33,.14,0,.81) 1.5s}.ttl_anim .swiper-slide:nth-child(5){transition:all .8s cubic-bezier(.33,.14,0,.81) 1.8s}.ttl_anim .swiper-slide:nth-child(6){transition:all .8s cubic-bezier(.33,.14,0,.81) 2.1s}.ttl_anim .swiper-slide:nth-child(7){transition:all .8s cubic-bezier(.33,.14,0,.81) 2.4s}.ttl_anim.act .swiper-slide,.ttl_anim.act .ttl_anim_img{opacity:1;top:0;transform:scale(1) translateY(0)}.ttl_anim.act .ttl_anim_h2 .ttl_anim_h2_span,.ttl_anim.act .ttl_anim_h2ja .ttl_anim_h2_span{opacity:1;top:0;transform:scale(1) translateY(0)}.ttl_anim.act .ttl_anim_p,.ttl_anim.act .ttl_anim_p2{opacity:1;top:0;transform:scale(1) translateY(0)}.ttl_anim.act .top__instagram__bgtxt{bottom:110px;opacity:1}@media only screen and (max-width:428px){.ttl_anim.act .top__instagram__bgtxt{bottom:160px}}@media screen and (max-width:768px){.pc{display:none}.sp{display:block}.header_banner a{height:auto;padding:10px 20px;line-height:1.5}}@media screen and (max-width:428px){.header_banner a{padding:10px 15px}.header_banner a .pc{display:none}.header_banner a .sp{display:block}.common__head{padding:0 20px}.common__head__sidelink.sidelink__left,.common__head__sidelink.sidelink__right{display:none}.common__head__kv__wrap{border-radius:20px}.common__head__kv__txt__imgttl{height:75px}.common__head__kv__txt__ttl{line-height:1.4;font-size:58px;margin-bottom:25px}.common__head__kv__txt__subttl{font-size:18px}}.header{position:fixed;width:100%;z-index:1000;top:0;left:0;display:flex;justify-content:space-between;align-items:center;padding:30px 65px 0}.header__logo{transition:all .4s ease;position:absolute;top:10px;left:50%;transform:translateX(-50%);}.header__logo.common_logo{top:20px}.header__logo.common_logo a img{width:44px}.header__logo a{display:block;position:relative}.header__logo a svg{width:104px;fill:#000;transition:all .4s ease}.header__logo a .wh_logo{position:absolute;opacity:0;top:0;left:0}.header__nav{display:flex;transition:all .5s ease}@media only screen and (max-width:1010px){.header__nav{display:none}}.header__nav__li{margin-left:30px}.header__nav__li a{font-size:14px}.header__menu{position:relative;width:40px;height:40px;display:block;cursor:pointer}.header__menu:before{content:"";width:60px;height:60px;border-radius:100%;z-index:0;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);transition:all .4s ease;opacity:0;background-color:#000}.header__menu__box{height:2px;width:40px;position:absolute;transition:all .4s ease;overflow:hidden;z-index:1;transform:translateX(-50%);left:50%}.header__menu__box:nth-of-type(1){top:14px}.header__menu__box:nth-of-type(1):before{content:"";background-color:#000;height:2px;width:40px;position:absolute;top:0;left:0;transition:all .4s ease}.header__menu__box:nth-of-type(2){top:25px}.header__menu__box:nth-of-type(2):before{content:"";background-color:#000;height:2px;width:40px;position:absolute;top:0;left:0;transition:all .4s ease}.header__account{opacity:0;pointer-events:none;transition:all .4s ease;position:absolute;top:41px;right:230px}.header__account a{display:block}.header__account a .txt{font-size:16px;margin-right:20px;display:inline-block;vertical-align:middle}.header__account a:hover{color:#000}.header__account img{width:29px}.header__account svg{fill:#000;width:29px;transition:all .4s ease;vertical-align:middle;pointer-events:none}.header__account #svg_a_head{transition:all .4s ease;transform-origin:center}.header__account #svg_a_mouth{transition:all .4s ease;transform-origin:center}.header__account:after{content:"";width:60px;height:60px;position:absolute;top:-10px;right:-15px;z-index:0;background-color:#000;border-radius:100%;opacity:0;transition:all .3s ease-in-out;pointer-events:none}.header__account:hover #svg_a_head{transform:rotate(-8deg)}.header__account:hover #svg_a_mouth{transform:translate(1px,-2px) rotate(-8deg)}.header__account:hover:after{opacity:.05}.header__cart{margin-left:auto;transition:all .4s ease-in-out;width:100px}.header__cart a{display:block;position:relative;transition:all .4s ease-in-out}.header__cart a:hover{color:#000}.header__cart a .txt{opacity:0;pointer-events:none;font-size:16px;margin-right:20px;display:inline-block;vertical-align:middle;transition:all .4s ease;position:absolute;left:0;top:50%;transform:translateY(-50%)}.header__cart a img{width:29px}.header__cart #header__cart__icon__fill{fill:#000;transition:all .3s ease-in-out}.header__cart svg{width:29px;fill:#000;transition:all .4s ease;vertical-align:middle;position:relative;z-index:1}.header__cart__icon{position:relative;width:60px;height:60px;border-radius:100%;transform:translate(30px,0);display:flex;align-items:center;margin-left:auto}.header__cart__icon:before{content:"";width:9px;height:12px;border:2px solid #000;position:absolute;top:9px;right:39px;z-index:1;border-radius:20px;transition:all .3s ease-in-out;z-index:1}.header__cart__icon:after{content:"";width:60px;height:60px;position:absolute;top:-2px;left:-15px;z-index:0;background-color:#000;border-radius:100%;opacity:0;transition:all .3s ease-in-out}.header__cart:hover .header__cart__icon:after{opacity:.05}.header__cart:hover .header__cart__icon:before{height:9px;top:10px}.header.open .header__nav{opacity:0;user-select:none;pointer-events:none}.header.open .header__menu__box:nth-of-type(1){transform:translate(-50%,0) rotate(45deg);top:20px;left:50%}.header.open .header__menu__box:nth-of-type(2){transform:translate(-50%,0) rotate(-45deg);top:20px;left:50%}.header.open .header__cart a .txt{opacity:1;pointer-events:all}.header.open .header__account{opacity:1;pointer-events:all}.header.scrolled .header__logo{top:20px;opacity:1;pointer-events:all}.header.scrolled .header__logo a{display:block}.header.scrolled .header__logo a img{width:44px}.header.rev:not(.open) #header__cart__icon__fill{fill:#fff}.header.rev:not(.open) .header__cart__icon:before{border-color:#fff}.header.rev:not(.open) .header__cart__icon:after,.header.rev:not(.open) .header__menu:before{background-color:#fff}.header.rev:not(.open) .header__logo.common_logo a img.wh_logo{opacity:1}.header.rev:not(.open) .header__logo.common_logo a img.bk_logo{opacity:0}.header.rev:not(.open) .header__nav__li a{color:#fff}.header.rev:not(.open) .header__menu__box:nth-of-type(1):before,.header.rev:not(.open) .header__menu__box:nth-of-type(2):before{background-color:#fff}.header:not(.open) .header__menu:hover:before{opacity:.05}.header:not(.open) .header__menu:hover .header__menu__box:nth-of-type(1){top:18px}.header:not(.open) .header__menu:hover .header__menu__box:nth-of-type(2){top:18px}.gnav{display:none;position:fixed;width:100%;z-index:999;top:0;left:0;background-color:#fbb03b;height:528px;padding:150px 80px 100px}.gnav.open{display:block;}.gnav__wrap{display:flex}.gnav__main__li{margin-top:30px}.gnav__main__li:first-child{margin-top:0}.gnav__main__a{font-size:23px}.gnav__main__a__ja{margin-top:10px}.gnav__main__a span{display:block}.gnav__main__a:hover{color:#fff}.gnav__sub{margin-left:110px}.gnav__sub__li{margin-top:30px}.gnav__sub__li:first-child{margin-top:0}.gnav__sub__ttl{font-size:16px}.gnav__sub__a{font-size:18px;display:block;margin-top:10px}.gnav__sub__a:hover{color:#fff}.prd_list_body .header__logo,.text_page_body .header__logo{opacity:1;width:44px;top:20px}@media only screen and (max-width:428px){.header{padding:15px 20px 0}.header__nav{display:none}.header__logo{width:44px;position:absolute;top:10px;left:50%;transform:translateX(-50%)}.header__logo a{display:block}.header__logo a img{width:100%}.header .header__account{right:20px;top:20px}.header.open .header__cart,.header.open .header__logo{opacity:0;user-select:none;pointer-events:none}.about_body .header__logo,.home_body .header__logo{opacity:1;display:block;width:100px;text-align:center}.about_body .header__logo a img,.home_body .header__logo a img{width:100%}.gnav{padding:150px 20px 20px;height:100vh}.gnav__wrap{display:block}.gnav__main__a{font-size:22px}.gnav__sub{margin-left:0;margin-top:50px}}.footer{background-color:#000;padding:90px 80px}.footer__logo{width:306px;display:block;margin:0 auto 85px}.footer__wrap{max-width:1600px;margin:auto;width:100%;display:flex;justify-content:space-between}.footer__top{width:60%;display:flex}.footer__top__box{margin-left:10%}.footer__top__box:first-child{margin-left:0}.footer__top__box h4{color:#fbb03b;font-size:12px;margin-bottom:30px;text-transform:uppercase}.footer__top__box a{color:#fff;margin-top:30px;font-size:14px;display:block}.footer__top__box a:nth-of-type(1){margin-top:0}.footer__top__box a.insta{font-size:34px}.footer__copy{width:35%;max-width:360px;padding-top:55px;text-align:right}.footer__copy p{font-size:12px;margin-top:25px;color:#fff}.footer__copy__card{width:100%}@media only screen and (max-width:428px){.footer{padding:80px 20px 100px}.footer__logo{max-width:255px;margin:0 auto 80px;display:block}.footer__wrap{display:block}.footer__top{flex-wrap:wrap;justify-content:space-between;width:100%}.footer__top__box{width:48%;margin-left:0;margin-bottom:60px}.footer__copy{display:block;text-align:center;width:100%}}.text_page_body{background-color:#eaeae9}.text_page{padding-top:120px;padding-bottom:150px;counter-reset:number 0}.text_page h2{margin-bottom:100px;margin-top:200px}.text_page h2:nth-of-type(1){margin-top:0}.text_page h2 .en{font-size:60px;text-align:center;display:block;margin-bottom:30px;text-transform:uppercase}.text_page h2 .ja{font-size:24px;text-align:center;display:block}.text_page__contents{max-width:700px;padding:0 20px;width:100%;margin:auto}.text_page__section{position:relative;margin-top:50px}.text_page__section:nth-of-type(1){margin-top:0}.text_page__section.num{padding-left:25px;counter-increment:number 1}.text_page__section.num:before{content:counter(number) ".";position:absolute;left:0;top:7px;font-size:14px}.text_page__section h3{font-size:14px;font-weight:400;line-height:2}.text_page__section p{font-size:14px;line-height:2}.text_page__dot_list li{padding-left:15px;position:relative;font-size:14px;line-height:2}.text_page__dot_list li:before{content:"";position:absolute;left:0;top:13px;width:3px;height:3px;border-radius:100%;background-color:#000}@media only screen and (max-width:428px){.text_page{padding-top:80px}.text_page h2 .en{font-size:40px;margin-bottom:20px}.text_page h2 .ja{font-size:22px}}

/* line 1, ../scss/top.scss */
.top_kv_slider {
  overflow: hidden;
  border-radius: 40px;
  z-index: 1;
}
/* line 5, ../scss/top.scss */
.top_kv_slider .common__head__kv__img {
  overflow: visible;
  border-radius: 0;
}

/* line 11, ../scss/top.scss */
.top__head {
  padding: 0 65px;
  position: relative;
}
/* line 14, ../scss/top.scss */
.top__head__kv {
  position: relative;
}
/* line 17, ../scss/top.scss */
.top__head__kv__img {
  overflow: hidden;
}
/* line 20, ../scss/top.scss */
.top__head__kv__img img,
.top__head__kv__img video,
.top__head__kv__img iframe {
  width: 100%;
}
/* line 27, ../scss/top.scss */
.top__head__kv__deco1 {
  position: absolute;
  width: 140px;
  bottom: -20px;
  right: -20px;
  z-index: 1;
}
/* line 34, ../scss/top.scss */
.top__head__kv__logo {
  width: 104px;
  position: absolute;
  z-index: 1;
  bottom: -45px;
  right: 45px;
}
/* line 40, ../scss/top.scss */
.top__head__kv__logo svg {
  width: 100%;
}
/* line 45, ../scss/top.scss */
.top__head__sidelink {
  position: absolute;
  top: 50%;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 50, ../scss/top.scss */
.top__head__sidelink.sidelink__left {
  left: -20px;
  transform: translateY(-50%) rotate(-90deg);
}
/* line 54, ../scss/top.scss */
.top__head__sidelink.sidelink__right {
  right: -25px;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: bottom;
}
/* line 60, ../scss/top.scss */
.top__head__news {
  text-align: center;
  max-height: 90px;
  overflow: hidden;
}
/* line 64, ../scss/top.scss */
.top__head__news .swiper-slide {
  padding: 30px 20px;
  line-height: 1.6;
}
/* line 67, ../scss/top.scss */
.top__head__news .swiper-slide a {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  display: inline-block;
}
/* line 76, ../scss/top.scss */
.top__about {
  padding: 190px 80px 280px;
  max-width: 1230px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
/* line 85, ../scss/top.scss */
.top__about__img {
  position: relative;
  order: 2;
  width: 50%;
}
/* line 89, ../scss/top.scss */
.top__about__img__bgtxt {
  position: absolute;
  bottom: -44px;
  right: -140px;
  width: 340px;
  z-index: 1;
}
/* line 96, ../scss/top.scss */
.top__about__img__wrap {
  overflow: hidden;
  border-radius: 40px;
  z-index: 1;
}
/* line 100, ../scss/top.scss */
.top__about__img__wrap img {
  width: 100%;
}
/* line 105, ../scss/top.scss */
.top__about__txt {
  order: 1;
  width: 42%;
}
/* line 108, ../scss/top.scss */
.top__about__txt__h3 {
  font-size: 60px;
  margin-bottom: 40px;
}
/* line 112, ../scss/top.scss */
.top__about__txt__p {
  font-size: 16px;
  line-height: 2.1;
  margin-bottom: 30px;
}
/* line 119, ../scss/top.scss */
.top__store {
  background-color: #EAEAE9;
  padding: 290px 80px 250px;
  overflow: hidden;
}
/* line 123, ../scss/top.scss */
.top__store__bgtxt {
  position: absolute;
  z-index: 0;
  top: -160px;
  left: -280px;
}
/* line 129, ../scss/top.scss */
.top__store__h2 {
  font-size: 60px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
/* line 135, ../scss/top.scss */
.top__store__p {
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2.1;
  position: relative;
  z-index: 1;
}
/* line 142, ../scss/top.scss */
.top__store__wrap {
  max-width: 1230px;
  margin: auto;
  position: relative;
  padding-bottom: 60px;
}
/* line 148, ../scss/top.scss */
.top__store__slide {
  overflow: visible;
}
/* line 150, ../scss/top.scss */
.top__store__slide__bgtxt {
  position: absolute;
  left: -5px;
  bottom: 30px;
  z-index: 1;
}
/* line 156, ../scss/top.scss */
.top__store__slide__ttl {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 12px;
  left: 0;
  top: 0;
}
/* line 164, ../scss/top.scss */
.top__store__slide__btns {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
/* line 170, ../scss/top.scss */
.top__store__slide__btns .swiper-button-next {
  margin-left: 25px;
}
/* line 173, ../scss/top.scss */
.top__store__slide__btns .swiper-button-next, .top__store__slide__btns .swiper-button-prev {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  width: 36px;
  height: 9px;
}
/* line 180, ../scss/top.scss */
.top__store__slide__btns .swiper-button-next:after, .top__store__slide__btns .swiper-button-prev:after {
  display: none;
}
/* line 184, ../scss/top.scss */
.top__store__slide__btns svg {
  width: 100%;
}
/* line 189, ../scss/top.scss */
.top__store .swiper-slide {
  position: relative;
  padding-left: 25px;
  max-width: 425px;
  z-index: 1;
}
/* line 194, ../scss/top.scss */
.top__store .swiper-slide .img {
  overflow: hidden;
  border-radius: 40px;
  z-index: 1;
}
/* line 198, ../scss/top.scss */
.top__store .swiper-slide .img a {
  overflow: hidden;
  border-radius: 40px;
  z-index: 1;
  display: block;
  position: relative;
}
/* line 205, ../scss/top.scss */
.top__store .swiper-slide .img img {
  width: 100%;
  transition: all 0.5s ease;
  z-index: 0;
}
/* line 213, ../scss/top.scss */
.top__store .swiper-slide:hover .img img {
  transform: scale(1.05);
}
/* line 220, ../scss/top.scss */
.top__online {
  background-color: #000;
  padding: 280px 80px;
}
/* line 223, ../scss/top.scss */
.top__online__wrap {
  max-width: 1230px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 231, ../scss/top.scss */
.top__online__img {
  width: 50%;
  position: relative;
}
/* line 234, ../scss/top.scss */
.top__online__img__wrap {
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}
/* line 239, ../scss/top.scss */
.top__online__img__hv01 {
  position: absolute;
  top: 5px;
  right: 0;
  transform: translateX(50%);
  width: 156px;
  z-index: 1;
  border-radius: 100%;
  background-color: #fff;
}
/* line 249, ../scss/top.scss */
.top__online__img__hv02 {
  position: absolute;
  bottom: 30px;
  left: 0;
  transform: translateX(-50%);
  z-index: 1;
  width: 162px;
  animation: 14s linear infinite rotation_around;
}
@keyframes rotation_around {
  0% {
    transform: translateX(-50%) rotate(0);
  }
  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}
/* line 263, ../scss/top.scss */
.top__online__txt {
  width: 42%;
}
/* line 265, ../scss/top.scss */
.top__online__txt__ttlja {
  font-size: 19px;
  margin-bottom: 20px;
  color: #fff;
}
/* line 270, ../scss/top.scss */
.top__online__txt__ttl {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
}
/* line 274, ../scss/top.scss */
.top__online__txt__ttl span {
  color: #FBB03B;
}
/* line 278, ../scss/top.scss */
.top__online__txt__p {
  color: #fff;
  font-size: 24px;
  line-height: 2.1;
  margin-bottom: 30px;
}
/* line 286, ../scss/top.scss */
.top__newslist {
  background-color: #EAEAE9;
  padding: 160px 80px 120px;
}
/* line 289, ../scss/top.scss */
.top__newslist__wrap {
  max-width: 1600px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 296, ../scss/top.scss */
.top__newslist__h2 {
  font-size: 48px;
  width: 430px;
}
/* line 300, ../scss/top.scss */
.top__newslist__ul {
  width: calc(100% - 460px);
}
/* line 303, ../scss/top.scss */
.top__newslist__li {
  border-top: 1px solid #000;
  padding: 30px 0 40px;
  display: flex;
  justify-content: space-between;
}
/* line 308, ../scss/top.scss */
.top__newslist__li > a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #333;
}
/* line 314, ../scss/top.scss */
.top__newslist__li__ttl {
  font-size: 18px;
  order: 1;
  line-height: 1.6;
}
/* line 319, ../scss/top.scss */
.top__newslist__li__date {
  font-size: 16px;
  order: 2;
}
/* line 325, ../scss/top.scss */
.top__instagram {
  padding: 130px 80px 210px;
  position: relative;
}
/* line 328, ../scss/top.scss */
.top__instagram__bgtxt {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 390px;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.33, 0.14, 0, 0.81) 1.5s;
}
/* line 339, ../scss/top.scss */
.top__instagram__wrap {
  max-width: 1600px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 346, ../scss/top.scss */
.top__instagram__h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 351, ../scss/top.scss */
.top__instagram__ul {
  display: flex;
  justify-content: space-between;
}
/* line 355, ../scss/top.scss */
.top__instagram__li {
  border-radius: 20px;
  overflow: hidden;
  width: 23.5%;
  z-index: 1;
}
/* line 360, ../scss/top.scss */
.top__instagram__li a {
  position: relative;
  padding-top: 100%;
  display: block;
  width: 100%;
}
/* line 366, ../scss/top.scss */
.top__instagram__li img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  transform-origin: left;
}
/* line 376, ../scss/top.scss */
.top__instagram__li:hover img {
  transform: scale(1.05) translate(-50%, -50%);
}
/* line 382, ../scss/top.scss */
.top__wrap_online_news {
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  /* line 391, ../scss/top.scss */
  .top__newslist__h2 {
    width: auto;
  }
  /* line 394, ../scss/top.scss */
  .top__newslist__ul {
    width: calc(100% - 320px);
  }
}
@media only screen and (max-width: 768px) {
  /* line 402, ../scss/top.scss */
  .top__about {
    display: block;
  }
  /* line 404, ../scss/top.scss */
  .top__about__ttl {
    font-size: 60px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 40px;
  }
  /* line 409, ../scss/top.scss */
  .top__about__ttl span {
    display: block;
  }
  /* line 411, ../scss/top.scss */
  .top__about__ttl span:nth-of-type(1) {
    text-align: left;
  }
  /* line 414, ../scss/top.scss */
  .top__about__ttl span:nth-of-type(2) {
    text-align: right;
  }
  /* line 417, ../scss/top.scss */
  .top__about__ttl span:nth-of-type(3) {
    text-align: left;
    padding-left: 10px;
  }
  /* line 423, ../scss/top.scss */
  .top__about__img {
    width: 100%;
  }
  /* line 425, ../scss/top.scss */
  .top__about__img__bgtxt {
    bottom: -81px;
    right: 0;
  }
  /* line 430, ../scss/top.scss */
  .top__about__txt {
    width: 100%;
    margin-top: 100px;
  }
  /* line 433, ../scss/top.scss */
  .top__about__txt__h3 {
    display: none;
  }
  /* line 438, ../scss/top.scss */
  .top__store {
    padding-top: 170px;
    padding-bottom: 200px;
  }
  /* line 441, ../scss/top.scss */
  .top__store__bgtxt {
    top: -82px;
    left: -122px;
  }
  /* line 446, ../scss/top.scss */
  .top__online {
    padding: 100px 80px;
  }
  /* line 448, ../scss/top.scss */
  .top__online__img {
    width: 100%;
  }
  /* line 451, ../scss/top.scss */
  .top__online__txt {
    width: 100%;
  }
  /* line 454, ../scss/top.scss */
  .top__online__wrap {
    display: block;
  }
  /* line 459, ../scss/top.scss */
  .top__newslist__h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  /* line 463, ../scss/top.scss */
  .top__newslist__ul {
    width: 100%;
  }
  /* line 466, ../scss/top.scss */
  .top__newslist__wrap {
    display: block;
  }
  /* line 471, ../scss/top.scss */
  .top__instagram__ul {
    flex-wrap: wrap;
  }
  /* line 474, ../scss/top.scss */
  .top__instagram__li {
    width: 48%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 428px) {
  /* line 485, ../scss/top.scss */
  .top__head {
    padding: 0 20px;
  }
  /* line 488, ../scss/top.scss */
  .top__head__sidelink.sidelink__left {
    display: none;
  }
  /* line 491, ../scss/top.scss */
  .top__head__sidelink.sidelink__right {
    display: none;
  }
  /* line 496, ../scss/top.scss */
  .top__about {
    padding: 90px 20px 110px;
  }
  /* line 499, ../scss/top.scss */
  .top__store {
    padding: 170px 20px;
  }
  /* line 501, ../scss/top.scss */
  .top__store__bgtxt {
    top: -93px;
    left: -55px;
  }
  /* line 506, ../scss/top.scss */
  .top__online {
    padding: 0;
    display: block;
  }
  /* line 510, ../scss/top.scss */
  .top__online__img__hv01 {
    width: 111px;
    transform: none;
    background-color: #FBB03B;
    top: auto;
    bottom: -60px;
    right: auto;
    left: 20px;
  }
  /* line 519, ../scss/top.scss */
  .top__online__img__hv02 {
    bottom: auto;
    top: -77px;
    left: auto;
    right: -77px;
    transform: none;
  }
  /* line 527, ../scss/top.scss */
  .top__online__txt {
    padding: 75px 20px 100px;
  }
  /* line 529, ../scss/top.scss */
  .top__online__txt__ttlja {
    text-align: center;
  }
  /* line 532, ../scss/top.scss */
  .top__online__txt__ttl {
    text-align: center;
  }
  /* line 535, ../scss/top.scss */
  .top__online__txt__p {
    font-size: 18px;
    text-align: center;
  }
  /* line 541, ../scss/top.scss */
  .top__newslist {
    padding: 100px 20px 170px;
  }
  /* line 543, ../scss/top.scss */
  .top__newslist__li {
    display: block;
    text-align: center;
    padding: 35px 0;
  }
  /* line 547, ../scss/top.scss */
  .top__newslist__li__date {
    margin-bottom: 30px;
  }
  /* line 552, ../scss/top.scss */
  .top__instagram {
    padding: 100px 20px 240px;
  }
  /* line 554, ../scss/top.scss */
  .top__instagram__ul {
    flex-wrap: wrap;
  }
  /* line 557, ../scss/top.scss */
  .top__instagram__bgtxt {
    bottom: 160px;
    width: 220px;
  }
}
